#ima1 {width: 30%}
#ima1{margin-left: 05%;}
#ima2 {width: 17%}
#ima3 {width: 30%}

h1 {color: rgb(107, 20, 107)}
h1 {font-size: 350%;}
h1 {margin-left: 38%;}
h2 {color: black}
h2 {text-align: left;}
body {background-color:rgb(172, 142, 201);}